@using Microsoft.AspNetCore.Identity
@using System.Net.Http;
@using Newtonsoft.Json;
@using gameshop.WebApplication.Controllers; 
@inject SignInManager<IdentityUser> SignInManager

@{
    List<CategoryVM> categories = await StaticPublicRequests.GetCategories();
    List<PlatformVM> platforms = await StaticPublicRequests.GetPlatforms();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#2196f3" />
    <!-- Title Tag  -->
    <title>@ViewData["Title"] - GameZone</title>
    <!-- Manifest -->
    <link rel="manifest" href="~/manifest.json">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <!-- Preloader -->
    <!--
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
        -->
    <!-- End Preloader -->
    <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="ti-headphone-alt"></i> +48 666 982 **3</li>
                                <li><i class="ti-email"></i> rafalgulewski@gmail.com</li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            <ul class="list-main">
                                <!-- przejście na stronę sprawdzającą lokalizację urządzenia -->
                                <li><i class="ti-location-pin"></i> Store location</li>
                                @* Logowanie/Rejestracja/Wylogowywaneie *@
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li>
                                        <!-- TODO dodać przejście na ustawienia konta-->
                                        <i class="ti-user"></i> <a href="#">@User.Identity.Name</a>
                                    </li>
                                    <li>
                                        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
                                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                                <i class="ti-power-off"></i><span>Logout</span>
                                            </a>
                                        </form>
                                    </li>

                                }
                                else
                                {
                                    <li>
                                        <i class="ti-user"></i>
                                        <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                    <li>
                                        <i class="ti-user"></i>
                                        <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="images/logo.png" alt="logo"></a>
                        </div>
                        <!--/ End Logo -->
                        <!-- Search Form -->
                        <div class="search-top">
                            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                            <!-- Search Form -->
                            <div class="search-top">
                                <form class="search-form">
                                    <input type="text" placeholder="Search here..." name="search">
                                    <button value="search" type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                            <!--/ End Search Form -->
                        </div>
                        <!--/ End Search Form -->
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="search-bar-top">
                            <div class="search-bar">
                                <select>
                                    <option selected="selected">All Platforms</option>
                                    @if (platforms != null)
                                        foreach (PlatformVM p in platforms)
                                        {
                                            <option>@p.Name</option>
                                        }
                                </select>
                                <select>
                                    <option selected="selected">All Categories</option>
                                    @if (categories != null)
                                        foreach (CategoryVM c in categories)
                                        {
                                            <option>@c.Name</option>
                                        }
                                </select>
                                <form>
                                    <input name="search" placeholder="Search Game Here....." type="search">
                                    <!-- TODO  Dodać wyszukiwanie gier -->
                                    <button class="btnn"><i class="ti-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <!-- TODO Przejście do profilu-->
                            <div class="sinlge-bar">
                                <a href="#" class="single-icon">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <!-- TODO Przejście do koszyka-->
                            <!-- TODO Wyświetlanie ilości pozycji w zamówieniu -->
                            <div class="sinlge-bar shopping">
                                <a asp-area="" asp-controller="Cart" asp-action="UserCart" class="single-icon"><i class="ti-bag"><span class="total-count">0</span></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-lg-9 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <!-- TODO można dodać zmianę kolorów gdy aktualnie jesteśmy na tej stronie -->
                                                <li>
                                                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                                </li>
                                                <li>
                                                    <a href="#">Categories</a>
                                                    <ul class="dropdown">
                                                        @if (categories != null)
                                                            foreach (CategoryVM c in categories)
                                                            {
                                                                <li><a href="#">@c.Name</a></li>
                                                            }
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Platforms</a>
                                                    <ul class="dropdown">
                                                        @if (platforms != null)
                                                            foreach (PlatformVM p in platforms)
                                                            {
                                                                <li><a href="#">@p.Name</a></li>
                                                            }
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Developer" asp-action="Index">Developers</a>
                                                </li>
                                                <li>
                                                    <a href="#">Publishers</a>
                                                </li>
                                                @{
                                                    if (User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            <a href="#">Admin<i class="ti-angle-down"></i><span class="new">Admin</span></a>
                                                            <ul class="dropdown">
                                                                <li>
                                                                    <a asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                                                                </li>
                                                                <li>
                                                                    <a asp-area="" asp-controller="Platform" asp-action="Index">Platforms</a>
                                                                </li>
                                                                <li>
                                                                    <a asp-area="" asp-controller="Developer" asp-action="Index">Developers</a>
                                                                </li>
                                                                <li>
                                                                    <a asp-area="" asp-controller="Publisher" asp-action="Index">Publishers</a>
                                                                </li>
                                                                <li>
                                                                    <a asp-area="" asp-controller="Game" asp-action="Index">Games</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->
    <div class="container body-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <style>
            .body-container {
                /*remove the container default padding attribute*/
                padding-left: 0px !important;
                padding-right: 0px !important;
                /*increase width as per your need*/
                max-width: 100%;
            }
        </style>
    </div>
    <!-- Start Shop Services Area -->
    <section class="shop-services section home">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-rocket"></i>
                        <h4>Free shiping</h4>
                        <p>Orders over $100</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-reload"></i>
                        <h4>Free Return</h4>
                        <p>Within 30 days returns</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-lock"></i>
                        <h4>Sucure Payment</h4>
                        <p>100% secure payment</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-tag"></i>
                        <h4>Best Peice</h4>
                        <p>Guaranteed price</p>
                    </div>
                    <!-- End Single Service -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Shop Services Area -->
    <!-- Start Shop Newsletter  -->
    <section class="shop-newsletter section">
        <div class="container">
            <div class="inner-top">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <!-- Start Newsletter Inner -->
                        <div class="inner">
                            <h4>Newsletter</h4>
                            <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
                            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="EMAIL" placeholder="Your email address" required="" type="email">
                                <button class="btn">Subscribe</button>
                            </form>
                        </div>
                        <!-- End Newsletter Inner -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Shop Newsletter -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-lg-6 offset-lg-3 col-12">
                            <h4 style="margin-top:100px;font-size:14px; font-weight:500; color:#F7941D; display:block; margin-bottom:5px;">Eshop Free Lite</h4>
                            <h3 style="font-size:30px;color:#333;">
                                Currently You are using free lite Version of Eshop.<h3>
                                    <p style="display:block; margin-top:20px; color:#888; font-size:14px; font-weight:400;">Please, purchase full version of the template to get all pages, features and commercial license</p>
                                    <div class="button" style="margin-top:30px;">
                                        <a href="https://wpthemesgrid.com/downloads/eshop-ecommerce-html5-template/" target="_blank" class="btn" style="color:#fff;">Buy Now!</a>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer about">
                            <div class="logo">
                                <a href="index.html"><img src="images/logo2.png" alt="#"></a>
                            </div>
                            <p class="text">
                                Note start:<br />
                                -----------------<br />
                                This is educational project. Used template belongs to Wpthemesgrid <br />
                                Website: <a href="www.wpthemesgrid.com">www.wpthemesgrid.com</a><br />
                                -----------------<br />
                                Note end
                            </p>
                            <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+48 666 982 **3</a></span></p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Customer Service</h4>
                            <ul>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer social">
                            <h4>Get In Tuch</h4>
                            <!-- Single Widget -->
                            <div class="contact">
                                <ul>
                                    <li>NO. 342 - London Oxford Street.</li>
                                    <li>012 United Kingdom.</li>
                                    <li>info@eshop.com</li>
                                    <li>+032 3456 7890</li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-flickr"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <div class="copyright">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="left">
                                &copy; 2022 - GameZone - Rafał Gulewski - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="right">
                                <img src="images/payments.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Jquery -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="~/js/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="~/js/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/js/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/js/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/js/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/js/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/js/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/js/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="~/js/easing.js"></script>
    <!-- Active JS -->
    <script src="~/js/active.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
